config AMLOGIC_WIFI
	bool "WiFi support"
	select WIRELESS_EXT
	select WEXT_PRIV
	default n
	help
		select y to support wifi

config AMLOGIC_WIFI_DUMMY
	tristate "Amlogic SDIO WiFi turn on and rescan module"
	depends on AMLOGIC_WIFI
	default m
